{% extends "base2.html" %}
{% load bootstrap3 %}

{% block title %}Password Reset{% endblock %}

{% block content %}

    <!--page title start-->
    <section class="page-title ptb-70">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="text-bold">Password Reset</h2>
                    <ol class="breadcrumb">
                        <li><a href="{% url 'index' %}">Home</a></li>
                        <li class="active">Password Reset</li>
                    </ol>
                </div>
            </div>
        </div>
    </section>
    <!--page title end-->

    <section class="section-padding">
        <div class="container">

            <form action="{% url 'auth_password_reset' %}" method="post" role="form" class="form-horizontal">
                {% csrf_token %}
                {% bootstrap_form form layout='horizontal' %}

                {% buttons %}
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-lg red dark-text">Reset password</button>
                    </div>
                {% endbuttons %}
            </form>

        </div>
    </section>

{% endblock %}
