{% extends "base2.html" %}

{% block title %}Password reset successful{% endblock %}

{% block content %}

    <!--page title start-->
    <section class="page-title ptb-70">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="text-bold">Password Reset</h2>
                    <ol class="breadcrumb">
                        <li><a href="{% url 'index' %}">Home</a></li>
                        <li class="active">Password Reset</li>
                    </ol>
                </div>
            </div>
        </div>
    </section>
    <!--page title end-->

    <section class="section-padding">
        <div class="container">

            <div class="text-center mb-80">
                <h1 class="section-title text-uppercase">Password has been reset</h1>
                <p class="section-sub">An email with instructions for setting a new password has been sent.</p>
                <div class="btn-group padding-top-50">
                    <a class="btn btn-lg yellow dark-text" href="{% url 'index' %}">Take me Home</a>
                </div>
            </div>

        </div>
    </section>

{% endblock %}
