{% extends "base2.html" %}
{% load bootstrap3 %}

{% block title %}Password reset{% endblock %}

{% block content %}

    <!--page title start-->
    <section class="page-title ptb-70">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="text-bold">Password Reset</h2>
                    <ol class="breadcrumb">
                        <li><a href="{% url 'index' %}">Home</a></li>
                        <li class="active">Password Reset</li>
                    </ol>
                </div>
            </div>
        </div>
    </section>
    <!--page title end-->

    <section class="section-padding">
        <div class="container">

            {% if validlink %}

                <form action="" method="post" role="form" class="form-horizontal">
                    {% csrf_token %}
                    {% bootstrap_form form layout='horizontal' %}

                    {% buttons %}
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-lg purnkleen-red-btn">
                                Change password
                            </button>
                        </div>
                    {% endbuttons %}
                </form>

            {% else %}

                <div class="row">
                    <div class="alert alert-danger col-sm-offset-2 col-sm-6">
                        <p class="lead"><strong>Password reset failed!</strong></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-offset-1 col-sm-10">
                        <p class="lead">The password reset link was invalid, possibly because it has already been used.</p>
                        <p><a href="{% url 'auth_login' %}">Sign in</a>
                    </div>
                </div>

            {% endif %}

        </div>
    </section>



{% endblock %}
