{% extends 'base2.html' %}

{% load static %}

{% block title %}Pur'N'Kleen Bylaws{% endblock %}

{% block container %}

    <!--page title start-->
    <section class="page-title ptb-70">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="text-bold">Our Bylaws</h2>
                    <ol class="breadcrumb">
                        <li><a href="{% url 'index' %}">Home</a></li>
                        <li class="active">Our Bylaws</li>
                    </ol>
                </div>
            </div>
        </div>
    </section>
    <!--page title end-->

    <section class="section-padding">
        <div class="container">

            <div class="text-center mb-80">
                <h1 class="section-title text-uppercase">The Pur'N'Kleen Bylaws</h1>
            </div>

            <div class="row featurette">
                <div class="col-md-12">
                    <iframe width="100%" height="600px" src="https://docs.google.com/document/d/1aK3LCC_PQC1RXEmaSi3FNXgRSuHElHBPwWG7bm1mb2o/pub?embedded=true"></iframe>
                </div>
            </div>

        </div>
    </section>

{% endblock %}