{% extends 'base2.html' %}

{% load static %}

{% block title %}Join Pur'N'Kleen{% endblock %}

{% block container %}

    <!--page title start-->
    <section class="page-title ptb-70">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="text-bold">Join Us</h2>
                    <ol class="breadcrumb">
                        <li><a href="{% url 'index' %}">Home</a></li>
                        <li class="active">Join Us</li>
                    </ol>
                </div>
            </div>
        </div>
    </section>
    <!--page title end-->

    <section class="section-padding">
        <div class="container">

            {% if user.is_authenticated %}
                <div class="text-center mb-80">
                    <h1 class="section-title text-uppercase">How to join Pur'N'Kleen in 3 easy steps!</h1>
                </div>

                <div class="row">
                    <div class="col-md-12 padding-bottom-50">
                        <h1>1) Submit an application in our RSI page</h1>
                        <div class="btn-group">
                            <a class="btn btn-lg blue" href="https://robertsspaceindustries.com/orgs/PNK" target="_blank">PNK RSI Profile</a>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <h1>2) Submit an application in our website</h1>
                        <div class="btn-group padding-bottom-50">
                            <a class="btn btn-lg blue" href="{% url 'pnk_profile_create' %}" target="_blank">Create your PNK Profile</a>
                        </div>
                    </div>

                    <div class="col-md-12 padding-bottom-50">
                        <h1>3) That's it.</h1>
                        <p class="lead">Swear on your life you'll be cool.</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <h1 class="featurette-heading">Fine Print</h1>
                        <p>
                            Everyone at PNK starts out as an affiliate. Affiliates are paid by the job. While we listen to
                            affiliate feedback, affiliates do not have member rights. This means they don't get a vote on
                            how PNK is run, how dividends are distributed, nor are they responsible for any losses that PNK
                            might incur. For more details on our cooperative structure, you can read our
                            <a href="{% url 'bylaws' %}">bylaws</a>.
                        </p>
                        <p>
                            Existing members can nominate affiliates to become full Member-owners as long as they meet all
                            requirements. The requirements for becoming a PNK Member-Owner and the process for accepting a
                            new member is specified in the <a href="{% url 'bylaws' %}">bylaws</a> under Article II.
                        </p>
                        <p>Still not sure? <a href="https://discord.gg/QADycb2">Contact us on Discord.</a></p>
                    </div>
                </div>
            {% else %}

                <div class="text-center mb-80">
                    <h1 class="section-title text-uppercase">You are not signed in</h1>
                    <p>
                        First step is to register for an account on this website.
                        Click here to <a href="{% url 'registration_register' %}">register</a>.
                        <br/>
                        Already have an account? Click here to <a href="{% url 'auth_login' %}">sign in</a>.
                    </p>
                </div>


            {% endif %}

        </div>
    </section>

{% endblock %}