{% extends 'base2.html' %}

{% load static %}

{% block title %}Pur'N'Kleen Links and Tools{% endblock %}

{% block container %}

    <!--page title start-->
    <section class="page-title ptb-70">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="text-bold">Links and Tools</h2>
                    <ol class="breadcrumb">
                        <li><a href="{% url 'index' %}">Home</a></li>
                        <li class="active">Links and Tools</li>
                    </ol>
                </div>
            </div>
        </div>
    </section>
    <!--page title end-->

    <section class="section-padding">
        <div class="container">

            <div class="text-center mb-80">
                <h1 class="section-title text-uppercase">Pur'N'Kleen Links and Tools</h1>
            </div>

            <div class="row featurette">
                <div class="col-md-4">
                    <div class="list-group">
                        <a href="#" class="list-group-item active">
                            <h2 class="list-group-item-heading">Allies and Orgs</h2>
                        </a>
                        <a href="https://robertsspaceindustries.com/orgs/COGNITION" class="list-group-item">
                            <h4 class="list-group-item-heading">COGNITION</h4>
                            <p class="list-group-item-text">Cognition Corp.</p>
                        </a>
                        <a href="https://docs.google.com/spreadsheets/d/1ii4xJMZ8RY5JzmI9JQFfrKL-CG1jxdqn-2TRS0SJlXU/edit#gid=661623883" class="list-group-item">
                            <h4 class="list-group-item-heading">Cognition Org Finder</h4>
                            <p class="list-group-item-text">Public Community Organizations of Cognition Corp.</p>
                        </a>
                        <a href="https://robertsspaceindustries.com/orgs/AID" class="list-group-item">
                            <h4 class="list-group-item-heading">AID</h4>
                            <p class="list-group-item-text">Auxilium - The Red Cross.</p>
                        </a>
                        <a href="https://robertsspaceindustries.com/orgs/DIPLOMACY" class="list-group-item">
                            <h4 class="list-group-item-heading">DIPLOMACY</h4>
                            <p class="list-group-item-text">Interstellar Diplomacy.</p>
                        </a>
                        <a href="https://robertsspaceindustries.com/orgs/FORTITUDE" class="list-group-item">
                            <h4 class="list-group-item-heading">FORTITUDE</h4>
                            <p class="list-group-item-text">FORTITUDE CORP.</p>
                        </a>
                        <a href="https://robertsspaceindustries.com/orgs/GANJ" class="list-group-item">
                            <h4 class="list-group-item-heading">GANJ</h4>
                            <p class="list-group-item-text">Galactic Astrometrics and Nexus of Jump-points.</p>
                        </a>
                        <a href="https://robertsspaceindustries.com/orgs/GRS" class="list-group-item">
                            <h4 class="list-group-item-heading">GRS</h4>
                            <p class="list-group-item-text">Galactic Racing Syndication.</p>
                        </a>
                        <a href="https://orpec.enjin.com/" class="list-group-item">
                            <h4 class="list-group-item-heading">ORPEC</h4>
                            <p class="list-group-item-text">Outer Rim Protection and Exploration Corporation.</p>
                        </a>
                        <a href="https://robertsspaceindustries.com/orgs/RAREFISHCO" class="list-group-item">
                            <h4 class="list-group-item-heading">RAREFISHCO</h4>
                            <p class="list-group-item-text">Rare Fish Trading Co. LLC.</p>
                        </a>
                        <a href="https://robertsspaceindustries.com/orgs/SOT" class="list-group-item">
                            <h4 class="list-group-item-heading">SOT</h4>
                            <p class="list-group-item-text">507th Special Operations Taskforce.</p>
                        </a>
                        <a href="https://robertsspaceindustries.com/orgs/THEEXILED" class="list-group-item">
                            <h4 class="list-group-item-heading">THEEXILED</h4>
                            <p class="list-group-item-text">The Exiled Fleet.</p>
                        </a>
                        <a href="https://robertsspaceindustries.com/orgs/UEMC" class="list-group-item">
                            <h4 class="list-group-item-heading">UEMC</h4>
                            <p class="list-group-item-text">United Earth Mining Corporation.</p>
                        </a>
                        <a href="https://robertsspaceindustries.com/orgs/VIERTE" class="list-group-item">
                            <h4 class="list-group-item-heading">VIERTE</h4>
                            <p class="list-group-item-text">Hitcher Four.</p>
                        </a>
                        <a href="https://robertsspaceindustries.com/orgs/VVAR" class="list-group-item">
                            <h4 class="list-group-item-heading">VVAR</h4>
                            <p class="list-group-item-text">VVarMachine.</p>
                        </a>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="list-group">
                        <a href="#" class="list-group-item active">
                            <h2 class="list-group-item-heading">Resources</h2>
                        </a>
                        <a href="http://imperialnews.network/" class="list-group-item">
                            <h4 class="list-group-item-heading">Imperial News Network</h4>
                            <p class="list-group-item-text">Unofficial Star Citizen News Website.</p>
                        </a>
                        <a href="https://starcitizen.tools/Star_Citizen_Wiki" class="list-group-item">
                            <h4 class="list-group-item-heading">Star Citizen Wiki</h4>
                            <p class="list-group-item-text">Unofficial Star Citizen Wiki.</p>
                        </a>
                        <a href="http://www.scqa.info/" class="list-group-item">
                            <h4 class="list-group-item-heading">Star Citizen Q&A</h4>
                            <p class="list-group-item-text">A Complete History of Ten for the Chairman and Co.</p>
                        </a>
                        <a href="https://forums.robertsspaceindustries.com/discussion/210513/andy-s-big-list-of-star-citizen-videos-podcasts/p1" class="list-group-item">
                            <h4 class="list-group-item-heading">Videos and Podcasts</h4>
                            <p class="list-group-item-text">Andy's Big List of Star Citizen Videos & Podcasts.</p>
                        </a>
                        <a href="https://docs.google.com/spreadsheets/d/14s3bQMeGb5SYKeXdkAhq4PRhq2sGmjZd-OsgjYDzap0/edit#gid=9" class="list-group-item">
                            <h4 class="list-group-item-heading">Star Citizen Capitalist Resource</h4>
                            <p class="list-group-item-text">Spreadsheet of Resources and Planets.</p>
                        </a>
                        <a href="http://raylehnhoff.github.io/SCFSD/#" class="list-group-item">
                            <h4 class="list-group-item-heading">Star Citizen Faction Ship Drawer</h4>
                            <p class="list-group-item-text">Ship drawing tool.</p>
                        </a>
                        <a href="https://ironikart.github.io/sc-trade-profit-client/" class="list-group-item">
                            <h4 class="list-group-item-heading">Trade Profit Calculator</h4>
                            <p class="list-group-item-text">Calculate trade and ship expenses.</p>
                        </a>
                        <a href="https://starcitizen.center/" class="list-group-item">
                            <h4 class="list-group-item-heading">Star Citizen Center</h4>
                            <p class="list-group-item-text">Collection of Star Citizen companion apps.</p>
                        </a>
                        <a href="http://imperialnews.network/2015/06/lis-recommended-control-setups-bindings-sensitivity-curves/" class="list-group-item">
                            <h4 class="list-group-item-heading">LIS Control Setup and Customization</h4>
                            <p class="list-group-item-text">A guide on how to setup your sensitivity curves.</p>
                        </a>
                        <a href="http://contentcreatorsunlimited.com/" class="list-group-item">
                            <h4 class="list-group-item-heading">World of Star Citizen</h4>
                            <p class="list-group-item-text">Alysianah Noire's World of Star Citizen.</p>
                        </a>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="list-group">
                        <a href="#" class="list-group-item active">
                            <h2 class="list-group-item-heading">CIG Official</h2>
                        </a>
                        <a href="https://robertsspaceindustries.com/" class="list-group-item">
                            <h4 class="list-group-item-heading">RSI Website</h4>
                            <p class="list-group-item-text">https://robertsspaceindustries.com/</p>
                        </a>
                        <a href="https://robertsspaceindustries.com/starmap" class="list-group-item">
                            <h4 class="list-group-item-heading">RSI Starmap</h4>
                            <p class="list-group-item-text">https://robertsspaceindustries.com/starmap</p>
                        </a>
                        <a href="https://robertsspaceindustries.com/schedule-report" class="list-group-item">
                            <h4 class="list-group-item-heading">Production Schedule Report</h4>
                            <p class="list-group-item-text">https://robertsspaceindustries.com/schedule-report</p>
                        </a>
                        <a href="https://robertsspaceindustries.com/about-the-game/spaceflight" class="list-group-item">
                            <h4 class="list-group-item-heading">About Star Citizen</h4>
                            <p class="list-group-item-text">https://robertsspaceindustries.com/about-the-game/spaceflight</p>
                        </a>
                        <a href="https://robertsspaceindustries.com/community/issue-council" class="list-group-item">
                            <h4 class="list-group-item-heading">CIG Issue Council</h4>
                            <p class="list-group-item-text">Report and vote on Star Citizen bugs.</p>
                        </a>
                        <a href="https://www.facebook.com/RobertsSpaceIndustries" class="list-group-item">
                            <h4 class="list-group-item-heading">RSI Facebook</h4>
                            <p class="list-group-item-text">https://www.facebook.com/RobertsSpaceIndustries</p>
                        </a>
                        <a href="https://twitter.com/RobertsSpaceInd" class="list-group-item">
                            <h4 class="list-group-item-heading">RSI Twitter</h4>
                            <p class="list-group-item-text">https://twitter.com/RobertsSpaceInd</p>
                        </a>
                        <a href="https://plus.google.com/115090625624883320504/posts" class="list-group-item">
                            <h4 class="list-group-item-heading">RSI Google +</h4>
                            <p class="list-group-item-text">https://plus.google.com/115090625624883320504/posts</p>
                        </a>
                        <a href="https://www.youtube.com/user/RobertsSpaceInd" class="list-group-item">
                            <h4 class="list-group-item-heading">RSI Youtube</h4>
                            <p class="list-group-item-text">https://www.youtube.com/user/RobertsSpaceInd</p>
                        </a>
                    </div>
                </div>
            </div>

        </div>
    </section>

{% endblock %}