{% extends 'base2.html' %}

{% load static %}
{% load employee_extras %}

{% block title %}Pur'N'Kleen Team{% endblock %}

{% block container %}

    <!--page title start-->
    <section class="page-title ptb-70">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="text-bold">Our Team</h2>
                    <ol class="breadcrumb">
                        <li><a href="{% url 'index' %}">Home</a></li>
                        <li class="active">Our Team</li>
                    </ol>
                </div>
            </div>
        </div>
    </section>
    <!--page title end-->

    <section class="section-padding">
        <div id="team" class="container">

            <div class="text-center mb-80">
                <h1 class="section-title text-uppercase">Current Members</h1>
            </div>

            <div class="row featurette">
                <div class="col-md-12">
                    <ul class="player_list">
                        {% for employee in employee_list %}
                            <li class="player_row {{forloop.counter|divisibleby:2|yesno:"even,odd"}}">
                                <div class="row">
                                    <div class="player_info_column col-md-9">
                                        <div class="row">
                                            <div class="col-md-2 text-center">
                                                <div class="player_image_container">
                                                    <a href="{% url 'employees:detail' employee.emp_no %}">
                                                        <img src="{% static 'img/star_citizen_marine_400x400.jpg' %}"
                                                             alt="{{ employee.user.first_name }} {{ employee.user.last_name }}"
                                                             title="{{ employee.user.first_name }} {{ employee.user.last_name }}"
                                                             width="100%"
                                                             class="img-rounded">
                                                    </a>
                                                </div>
                                            </div>

                                            <div class="col-md-10">
                                                <div class="player_info">
                                                    <div class="player_name">
                                                        <i class="flag2x {{ employee.country.flag_css }}"></i>
                                                        {{ employee.user.first_name }} "{{ employee.callsign }}" {{ employee.user.last_name }}
                                                        <br/>
                                                        <span class="label label-default preferred_activity_small">
                                                            {{ activity_dict|get_value:employee.primary_activity }}
                                                        </span>
                                                        <span class="label label-default preferred_activity_small">
                                                            {{ activity_dict|get_value:employee.secondary_activity }}
                                                        </span>
                                                    </div>

                                                    <div>
                                                        <div class="player_stat">
                                                            <span class="player_stat_title">Status:</span>
                                                            <span>{{ employee.type }}</span>
                                                        </div>

                                                        <div class="player_stat">
                                                            <span class="player_stat_title">Hire Date:</span>
                                                            <span>{{ employee.hire_date|date:"d M Y" }}</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="player_actions_column col-md-3 text-center">
                                        <div>
                                            <a href="{% url 'employee:detail' employee.emp_no %}">
                                                <button type="button" class="btn btn-primary btn-lg grey light-text waves-effect waves-light">View more</button>
                                            </a>
                                        </div>
                                    </div>

                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </div>

                {% if is_paginated %}
                    <ul class="pagination center-align">
                        {% if page_obj.has_previous %}
                            <li class="waves-effect">
                                <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
                            </li>
                        {% endif %}
                        <li class="waves-effect">
                            <span>Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</span>
                        </li>
                        {% if page_obj.has_next %}
                            <li class="waves-effect">
                                <a href="?page={{ page_obj.next_page_number }}">Next</a>
                            </li>
                        {% endif %}
                    </ul>
                {% endif %}
            </div>

        </div>
    </section>


{% endblock %}
