{% extends 'base2.html' %}

{% load static %}

{% block title %}Pur'N'Kleen Profile{% endblock %}

{% block container %}

    <!--page title start-->
    <section class="page-title ptb-70">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="text-bold">{{ employee.user.first_name }} {{ employee.user.last_name }}</h2>
                    <ol class="breadcrumb">
                        <li><a href="{% url 'index' %}">Home</a></li>
                        <li class="active">Profile Page</li>
                    </ol>
                </div>
            </div>
        </div>
    </section>
    <!--page title end-->

    <section class="section-padding">

        <div class="container">

            <div class="row">
                <div class="col-md-4 col-sm-3">
                    <figure class="team-img text-center">
                        <img src="{% static 'img/star_citizen_marine_400x400.jpg' %}" class="img-responsive img-rounded" alt="Image">
                    </figure>
                </div>

                <div class="col-md-8 col-sm-9">
                    <div class="team-intro">
                        <div>
                            <div class="player_name player_name_big">
                                <i class="flag2x {{ employee.country.flag_css }}"></i>
                                {{ employee.user.first_name }} "{{ employee.callsign }}" {{ employee.user.last_name }} <br/>
                                <span class="label label-default preferred_activity_large {{ employee.primary_activity }}">{{ employee.primary_activity }}</span>
                                <span class="label label-default preferred_activity_large {{ employee.secondary_activity }}">{{ employee.secondary_activity }}</span>
                            </div>
                        </div>
                    </div>

                    <div>
                        <div class="row">
                            <div class="col-sm-12">
                                <p class="player_bio">
                                    A id a torquent tortor at lacus et donec platea eu scelerisque maecenas ac eros a adipiscing
                                    id lobortis cum lacus erat. Parturient eleifend adipiscing ultrices a cursus est feugiat
                                    porta a at condimentum fames adipiscing odio in nisi venenatis suspendisse suspendisse
                                    parturient. Leo congue sociosqu maecenas ligula eu penatibus at suscipit mus scelerisque.
                                </p>
                            </div>
                        </div>
                    </div>

                    <div>
                        <div class="player_stat">
                            <span class="player_stat_title">Type: </span>
                            <span class="player_stat_value">{{ employee.type }}</span>
                        </div>

                        <div class="player_stat">
                            <span class="player_stat_title">Employee: </span>
                            <span class="player_stat_value">#{{ employee.emp_no }}</span>
                        </div>

                        <div class="player_stat">
                            <span class="player_stat_title">Hire date: </span>
                            <span class="player_stat_value">{{ employee.hire_date|date:"d M Y" }}</span>
                        </div>

                        <div class="player_stat">
                            <span class="player_stat_title">RSI Profile: </span>
                            <span class="player_stat_value"><a href="{{ employee.rsi_url }}" target="_blank">Profile</a></span>
                        </div>
                    </div>

                    {% if is_owner %}
                    <div class="player_actions">

                        <p>
                            <a href="{% url 'employee:update' employee.emp_no %}">
                                <button type="button" class="btn btn-primary btn-lg blue light-text waves-effect waves-light">Update</button>
                            </a>
                            <button type="button" class="btn btn-primary btn-lg materialize-red light-text waves-effect waves-light" data-toggle="modal" data-target="#retireModal">
                                Retire
                            </button>
                            <button type="button" class="btn btn-primary btn-lg materialize-red light-text waves-effect waves-light" data-toggle="modal" data-target="#kiaModal">
                                KIA
                            </button>
                        </p>
                    </div>
                    {% endif %}

                </div> <!-- col-md-8 -->

            </div><!-- row -->
        </div> <!-- container -->

        {% include 'employees/modals/employee_retire_modal.html' %}
        {% include 'employees/modals/employee_kia_modal.html' %}

    </section>

{% endblock %}
